.place__url-heading {
    font-family: "Inter", "Arial", "sans-serif";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #AAAAAA;
    max-width: 456px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    .place__url-heading {
      margin-left: 16px;
   }
 } 